{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Restaurant</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/sticky-footer-navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/restaurant.css' %}">

  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav style="background-color:#BC2C1A"class="navbar navbar-expand-md navbar-dark fixed-top ">
        <a class="navbar-brand" href="#"><b>Restaurant Scraper</b></a>

        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <div class="container">


      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between ">
        <li class="nav-item">
          <a class="p-2 text-muted" href="/restaurant?city=mumbai"><b>Mumbai</b></a>
          <a class="p-2 text-muted" href="/restaurant?city=delhi"><b>Delhi</b></a>
          <a class="p-2 text-muted" href="/restaurant?city=bangalore"><b>Bangalore</b></a>
          <a class="p-2 text-muted" href="/restaurant?city=chennai"><b>Chennai</b></a>
          <a class="p-2 text-muted" href="/restaurant?city=hyderabad"><b>Hyderabad</b></a>
          <a class="p-2 text-muted" href="/restaurant?city=pune"><b>Pune</b></a>
          <a class="p-2 text-muted" href="/restaurant?city=kolkata"><b>Kolkata</b></a>
          <a class="p-2 text-muted" href="/restaurant?city=ahmedabad"><b>Ahmedabad</b></a>

        </nav>
      </div>

    <main role="main" class="container">
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">{{ restaurant_data.restaurant_name }}</h1>
          <p class="lead my-3">{{ restaurant_data.complete_address }}</p>
        </div>
      </div>

      <div id="map-container-2" class="z-depth-1" style="height: 500px"></div>

      <hr/>
      <h1>Reviews</h1>
      {% for res in restaurant_data.reviews  %}
      <div class="row mb-12">
        <div class="p-3 mb-3 bg-light rounded">
            <p class="mb-0">{{ forloop.counter }}) {{ res }}</p>
          </div>

      </div>

      {% endfor %}
    </div>




    </main><!-- /.container -->

    <footer style="margin-top: 10px;padding-bottom:10px" class="footer">
      <div class="container">
        <span class="text-muted"></span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyDS6CIwLAhEoIlMqNUXrKiZ5_q5PTYyPZk"></script>
    <script>
    // Custom map
function custom_map() {

    var var_location = new google.maps.LatLng({{ restaurant_data.lat|safe }}, {{ restaurant_data.long|safe }});

    var var_mapoptions = {
        center: var_location,
        zoom: 20,
        styles: [
            {
                "featureType": "administrative",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "transit",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "road.local",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "all",
                "stylers": [
                    {
                        "color": "#5f94ff"
                    },
                    {
                        "lightness": 26
                    },
                    {
                        "gamma": 5.86
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "all",
                "stylers": [
                    {
                        "weight": 0.6
                    },
                    {
                        "saturation": -85
                    },
                    {
                        "lightness": 61
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "all",
                "stylers": [
                    {
                        "hue": "#0066ff"
                    },
                    {
                        "saturation": 74
                    },
                    {
                        "lightness": 100
                    }
                ]
            }
        ]
    };

    var var_map = new google.maps.Map(document.getElementById("map-container-2"),
        var_mapoptions);

    var var_marker = new google.maps.Marker({
        position: var_location,
        map: var_map,
        title: "New York"
    });
}

// Initialize maps
google.maps.event.addDomListener(window, 'load', custom_map);

    </script>

  </body>
</html>
