{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<body>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Restaurant Scraper</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>

  <body>

    <form class="form-signin">
      <div class="text-center mb-4">
        <img class="mb-4" src="http://www.pngall.com/wp-content/uploads/2017/05/Copyright-Symbol-R.png" alt="" width="80" height="80">
        <h1 class="h3 mb-3 font-weight-normal"><b>Restaurant Scraper</b></h1>
        <p>The Website Provides you with the locattion based Restaurant details and reviews </p>
      </div>

      <div class="form-label-group">
        <select class="form-control" name='city' id="exampleFormControlSelect1">
              <option value="delhi">Delhi</option>
              <option value="mumbai">Mumbai</option>
              <option value="bangalore">Bangalore</option>
              <option value="chennai">Chennai</option>
              <option value="hyderabad">Hyderabad</option>
              <option value="pune">Pune</option>
              <option value="kolkata">Kolkata</option>
              <option value="ahmedabad">Ahmedabad</option>
            </select>

      </div>



      <div class="checkbox mb-3">
          
      </div>
      <button style="background-color:#BC2C1A"class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
  </body>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
