{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Restaurant</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/sticky-footer-navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/restaurant.css' %}">

  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav style="background-color:#BC2C1A"class="navbar navbar-expand-md navbar-dark fixed-top ">
        <a class="navbar-brand" href="#"><b>Restaurant Scraper</b></a>

        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <div class="container">


      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between ">
        <li class="nav-item">
          <a class="p-2 text-muted" href="/restaurant?city=mumbai"><b>Mumbai</b></a>
          <a class="p-2 text-muted" href="/restaurant?city=delhi"><b>Delhi</b></a>
          <a class="p-2 text-muted" href="/restaurant?city=bangalore"><b>Bangalore</b></a>
          <a class="p-2 text-muted" href="/restaurant?city=chennai"><b>Chennai</b></a>
          <a class="p-2 text-muted" href="/restaurant?city=hyderabad"><b>Hyderabad</b></a>
          <a class="p-2 text-muted" href="/restaurant?city=pune"><b>Pune</b></a>
          <a class="p-2 text-muted" href="/restaurant?city=kolkata"><b>Kolkata</b></a>
          <a class="p-2 text-muted" href="/restaurant?city=ahmedabad"><b>Ahmedabad</b></a>

        </nav>
      </div>

      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">{{ city|upper }}</h1>

        </div>
      </div>


    <main role="main" class="container">
      <div class="row mb-2">

      {% for res in restaurants  %}
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">Rating: {{ res.rating }}</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="/restaurant/detail/?url='{{ res.restaurant_url|urlencode }}'">{{ res.restaurant_name }}</a>
            </h3>
            <p class="card-text mb-auto">Location: {{ res.location_locality }},{{ res.location_area }}</a>
              <br/>
              <hr/>
              <div>

              <a class="btn btn-outline-primary" href="/restaurant/detail/?url='{{ res.restaurant_url|urlencode }}'">More</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      </div>
    </div>

    <div class="col-md-8 blog-main">
    <nav class="blog-pagination">
      <button class="btn btn-outline-secondary" onclick="loadmore({{ page_index }})">Newer</button>
    </nav>
  </div>

    </main><!-- /.container -->

    <footer style="padding-bottom:10px" class="footer">
      <div class="container">
        <span class="text-muted"></span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>

    function loadmore(val){
      val = val + 1
      url_ = window.location.href
      new_url = url_.split('&')[0]+'&page_index='+val
      location.href = new_url
    }

    </script>
  </body>
</html>
